/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
    font-family: Tahoma, sans-serif, Verdana, Geneva;
}

.wrap {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fixed-container {
    max-width: 1495px;
    margin: 0 auto;
}

.head-container {
    padding: 31px;
    width: 100%;
    height: 111px;  
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

.logo {
    background-image: url(/img/logo.png);
    width: 150px;
    height: 43px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 729px;
}

.buttons-container {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    width: 97px;
    height: 35px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    margin-right: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.nav-links:first-child {
    background-color: #FF7862;
    color: #fff;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    margin-right: 20px;
}

.social:first-child {
    display: inline-block;
    width: 30px;
    height: 26px;
    background-image: url(/logo/vk-brands.svg) ;
}

.social:nth-child(2) {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(/logo/spotify-brands.svg);
    background-repeat: no-repeat;
}

.social:nth-child(3) {
    display: inline-block;
    width: 25px;
    height: 26px;
    background-image: url(/logo/twitter-brands.svg);
}

.social:nth-child(4) {
    display: inline-block;
    width: 14px;
    height: 24px;
    background-image: url(/logo/facebook-f-brands.svg);
    background-repeat: no-repeat;
}

#main {
    background-color: #04061B;
    width: 100%;
    flex: 1 1 auto;
}

.info-container {
    display: flex;

}

.left-part {
    flex: 1 1 49%;
    height: 612px;
    position: relative;
}

.right-part {
    flex: 1 1 51%;
}

.left-part img {
    position: absolute;
    bottom: 0px;
    right: 54px;
    width: 400px;
}

