/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
  font-family: Tahoma, sans-serif, Verdana, Geneva;
}

.wrap {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 50;
}

#header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 3;
}

.fixed-container {
  max-width: 1495px;
  margin: 0 auto;
}

.head-container {
  position: relative;
  padding: 31px;
  width: 100%;
  height: 111px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.logo {
  background-image: url(../../img/logo.png);
  width: 150px;
  height: 43px;
  margin-right: 20px;
  position: relative;
  z-index: 5;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  
}

.buttons-container {
  display: flex;
}

.burger-menu {
  height: 35px;
  width: 30px;
  background-image: url(../../logo/bars-solid.svg);
  display: none;
  flex: 0 0 auto;
  position: relative;
  z-index: 5;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  background-color: #fff;
  width: 97px;
  height: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-right: 14px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  position: relative;
  z-index: 5;
}

.nav-links:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #ff7862;
  color: white;
  transition: all .5s ease;
}


.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.social {
  margin-right: 20px;
}

.social:first-child {
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../../logo/vk-brands.svg);
}

.social:nth-child(2) {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url(../../logo/spotify-brands.svg);
  background-repeat: no-repeat;
}

.social:nth-child(3) {
  display: inline-block;
  width: 25px;
  height: 26px;
  background-image: url(../../logo/twitter-brands.svg);
}

.social:nth-child(4) {
  display: inline-block;
  width: 14px;
  height: 24px;
  background-image: url(../../logo/facebook-f-brands.svg);
  background-repeat: no-repeat;
}

#main {
  background-color: #04061b;
  width: 100%;
  flex: 1 1 auto;
  padding-top: 111px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.title { 
    color: white; 
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.list {
    color: white;
    font-size: 36px;
}


.list-item {
    display: block;
    color: white;
    width: 255px;
    margin-bottom: 25px;
}

.inst::before {
    content:url(../../logo/premium-icon-instagram-4494488.png);
    padding-right: 20px;
}

.vk::before {
    content:url(../../logo/premium-icon-vk-2504953.png);
    padding-right: 20px;
}

.you::before {
    content:url(../../logo/premium-icon-youtube-3670147.png);
    padding-right: 20px;
}

.shik::before {
    content:url(../../logo/kanji.png);
    padding-right: 20px;
}

.modal-sign-up {  
  position: fixed;
  top: 111px;
  right: 0;
  transform: translate(+100%);
  width: 400px;
  height: 100%;
  display: flex;
  background-color: #FFF;
  color: black;
  transition: all .5s ease;
  padding: 25px;
  z-index: 50;
}

.modal-sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close {
  position: absolute;
  top: 5px; 
  right: 10px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  transition: all .3s ease;
  user-select: none;
}
.close:hover {
  transform: rotate(90deg);
  transition: all .3s ease;
}

.form-title {
  font-size: 48px;  
  margin-bottom: 40px;
}

.modal-log-in {
  position: fixed;
  top: 111px;
  right: 0;
  transform: translate(+100%);
  width: 500px;
  height: 100%;
  display: flex;
  background-color: #fff;
  transition: all .5s ease;
  padding: 25px;
  z-index: 50;
}
.logout { 
  display: block;
  color: black; 
  font-size: 20px; 
  z-index: 5;
  margin-right: 20px;
}
.open {
  transform: translate(0);
  transition: all .5s ease;
}

.profile-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: black;
  z-index: 100;
  cursor: pointer;
  margin-right: 20px;
  flex: 0 0 auto;
}


.sign-up-form, .log-in-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.fields {
  display: block;
  width: 80%;
  height: 45px;
  border: 3px solid black; 
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
}

.fields::-webkit-input-placeholder {
  color: black;
  transition: all .1s ease;
}
.fields:focus {
  border: 3px solid #ff7862;
  transition: all .1s ease;
}
.submit { 
  display: block;
  height: 40px;
  width: 40%;
  border: 3px solid black; 
  padding: 3px;
  border-radius: 8px;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all .3s ease;
  font-size: 20px;
}
.submit:hover {
  transform: scale(1.1);
  transition: all .3s ease;
}

body::-webkit-scrollbar{
  width: 4px;
  background-color: #ffffff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: #ff7862;
  width: 3px;
}


@media (max-width: 1200px) {
  .buttons-container {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 130px 0 0 20px; 
    flex-direction: column;
    transition: all 0.3s ease 0s;
    align-items: center;
    overflow: auto;
  }

  .buttons-container.active {
    top: 0;
  }

  body.lock {
    overflow: hidden;
  }

  .nav-links {
    margin-bottom: 20px;
    width: 220px;
    min-height: 35px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 760px) {
  .links-container {
    width: 500px;
  }
}

@media (max-width: 480px) {
  .media-links {
    display: none;
  }
  
  .burger-menu {
    order: 3;
  }
  .links-container {
    width: 300px;
  }
}
